[submodule "Carthage/Checkouts/Assertions"]
	path = Carthage/Checkouts/Assertions
	url = https://github.com/antitypical/Assertions.git
[submodule "Carthage/Checkouts/Equality"]
	path = Carthage/Checkouts/Equality
	url = https://github.com/neilpa/Equality.git
[submodule "Carthage/Checkouts/Dumpster"]
	path = Carthage/Checkouts/Dumpster
	url = https://github.com/neilpa/Dumpster.git
